<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getName()} + ', ' + ${person.getBirthYear()}">VALUE</p>

<div th:if="${!books.isEmpty()}">
    <div th:text="Книги + ':'"></div>
    <div th:each="book : ${books}">
        <div th:text="${book.getBookName()} + ', ' + ${book.getBookAuthor()}">user</div>
    </div>
</div>
<div th:if="${books.isEmpty()}">
    <div> Человек пока не взял ни одной книги</div>
</div>
<br/>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать">
</a>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>